body {
    background-color: #0B3A97;
    background-image: url('./img/bitcoin.png');
    background-repeat: no-repeat;
    background-position: 0% 280%;
    background-attachment: scroll;
}

.parent1 {
    display: grid;
    grid-template-columns: 25% repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 4 / 2 / 6; }



.parent2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 35px;
    }
        
    .div3 { grid-area: 1 / 2 / 2 / 5; }


.parent3 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 70px;
    margin-top: 70px;
    }
     
    .div4 { grid-area: 1 / 3 / 2 / 6; }
    .div5 { grid-area: 2 / 3 / 3 / 6; }
    .div6 { grid-area: 3 / 3 / 4 / 6; }


[class*='div'] {
    border: black solid 4px;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    
}

    .logo {
        width: 100px;
        height: 100px;
    }

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

    .bankName {
        color: white;
    }


.div4,.div5,.div6 {
    border: none;
    background: none;

}
    .button {
        background-color: white;
        text-decoration: none;
        color: black;
        font-size: 16px;
        border: transparent solid 4px;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        cursor: pointer;
    }
        .button:hover {
            background-color: lightblue;
            border: black solid 4px;
        }


.div3 {
    border: black solid 4px;
    border-radius: 8px;
}

    h3 {
        letter-spacing: 2px;
    }